<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name= "com.flipkart.utilities.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.flipkart.testCases.TC_POF_Test_001"/>
      <!-- <class name="com.flipkart.testCases.BaseClass"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
